
@mixin common {
  position: absolute;
  padding: 5px;
  bottom: 35px;
  left: 30px;
  font-weight: bold;
}

@mixin whitetext {
  background: rgba(0, 0, 0, 0.5);
  color: white;  
  text-align: center;
  font-weight: bold;
}

.title {
  color: #2d2d2d;
  font-size: 0.875rem;
  font-family: "Muli-4n", "Muli", Helvetica, Arial, sans-serif;
  padding: 0;
}
.price {
font-size: 0.813rem;
border-radius: 2px;
@include common();
@include whitetext();
}

.title1 {
font-family: sans-serif;
}

.ProductCard-container {
border-radius: 8px;
flex-grow: 1;
display: flex;
flex-direction: column;
border-radius: 8px;
padding: 15px;
cursor: pointer;
position: relative;
}

.ProductCard-container:hover { 
cursor: pointer;
box-shadow: 0 3px 6px rgba(34,25,36,20%);
padding: 10px;
}

.ProductCard-container:hover .overlayTitle
{
 width: 94%;
}

.overlayTitle {
  position: absolute;
  width: 92%;
  font-size: 14px;
  padding: 8px;
  @include whitetext();
}

